

@seconds-per-day:0.01;

@sun: 40px;
@mercury-orb : 70px; @mercury-pl: 4px;
@venus-orb : 100px; @venus-pl: 8px;
@earth-orb : 145px; @earth-pl: 6px;
@mars-orb : 190px; @mars-pl: 6px;
@jupiter-orb : 340px; @jupiter-pl: 18px;
@saturn-orb : 440px; @saturn-pl: 12px;
@uranus-orb : 520px; @uranus-pl: 10px;
@neptune-orb : 630px; @neptune-pl: 10px;
@pluto-orb : 780px; @pluto-pl: 3px;
@asteroids-belt: 270px;


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating(@seconds) {
    -webkit-animation: rotating unit(@seconds,s) linear infinite;
    -moz-animation: rotating unit(@seconds,s) linear infinite;
    -ms-animation: rotating unit(@seconds,s) linear infinite;
    -o-animation: rotating unit(@seconds,s) linear infinite;
    animation: rotating unit(@seconds,s) linear infinite;
}